h1, p {
  font-family: Lato;
}

.HelloClazz{
  margin: 12px 6px;
}

.HelloClazz span{
  display: inline-block;
  padding: 0 10px;
  margin: 6px 6px;
  border:1px solid blue;
  border-radius: 6px;
  min-width:100px;
}